<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão de Clientes</title>
</head>
<body>
    <h3>Sistema de Gestão de Clientes</h3>
    <ul>
        <li><a href="/administradores">Lista de Administradores</a></li>
        <li><a href="/novoadministrador">Inserir Administrador</a></li>
        <li><a href="/conteudos">Lista de Conteúdos</a></li>
        <li><a href="/novoconteudo">Inserir Conteúdo</a></li>
        <li><a href="/pacientes">Lista de Pacientes</a></li>
        <li><a href="/novopaciente">Inserir Paciente</a></li>
    </ul>
</body>
</html>